---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.publications.size > 0 -%}
    <h1 id="publications">Publications</h1>
    
    {%- for year_pubs in site.publications -%}
      <h2>{{ year_pubs[0] }}</h2>
      <ul>
        {%- for pub in year_pubs[1] -%}
          <li><a href="/assets/pdfs/{{ pub[0] }}.pdf" class="pdflink" target="_blank">[PDF]</a>  {{ pub[1] | escape }}</li>
        {%- endfor -%}
      </ul>
    {%- endfor -%}
  {%- endif -%}

</div>
